<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>aposfc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/qiantai/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/qiantai/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/qiantai/LoginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/qiantai/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserModifyServlet</display-name>
    <servlet-name>UserModifyServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.UserModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserModifyServlet</servlet-name>
    <url-pattern>/qiantai/UserModifyServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserLoginFilter</display-name>
    <filter-name>UserLoginFilter</filter-name>
    <filter-class>com.hpe.aposfc.servlet.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>/qiantai/center.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>/qiantai/order.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>/qiantai/UserOrderingServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingServlet</display-name>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/qiantai/ShoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingDelServlet</display-name>
    <servlet-name>ShoppingDelServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.ShoppingDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingDelServlet</servlet-name>
    <url-pattern>/qiantai/ShoppingDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/admin/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginOutServlet</display-name>
    <servlet-name>AdminLoginOutServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.AdminLoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginOutServlet</servlet-name>
    <url-pattern>/admin/AdminLoginOutServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminLoginFilter</display-name>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>com.hpe.aposfc.servlet.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/menus_add.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/menus.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/type_add.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/type.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/notice_add.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/notice.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/order.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/order_search.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/order_statistic.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/admin_update.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateServlet</display-name>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.AdminUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateServlet</servlet-name>
    <url-pattern>/admin/AdminUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeAddServlet</display-name>
    <servlet-name>TypeAddServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.TypeAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeAddServlet</servlet-name>
    <url-pattern>/admin/TypeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeDelServlet</display-name>
    <servlet-name>TypeDelServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.TypeDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeDelServlet</servlet-name>
    <url-pattern>/admin/TypeDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeUpdateServlet</display-name>
    <servlet-name>TypeUpdateServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.TypeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeUpdateServlet</servlet-name>
    <url-pattern>/admin/TypeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeDelServlet</display-name>
    <servlet-name>NoticeDelServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.NoticeDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeDelServlet</servlet-name>
    <url-pattern>/admin/NoticeDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeAddServlet</display-name>
    <servlet-name>NoticeAddServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.NoticeAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeAddServlet</servlet-name>
    <url-pattern>/admin/NoticeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuAddServlet</display-name>
    <servlet-name>MenuAddServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.MenuAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuAddServlet</servlet-name>
    <url-pattern>/admin/MenuAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuDelServlet</display-name>
    <servlet-name>MenuDelServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.MenuDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuDelServlet</servlet-name>
    <url-pattern>/admin/MenuDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuUpdateServlet</display-name>
    <servlet-name>MenuUpdateServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.MenuUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuUpdateServlet</servlet-name>
    <url-pattern>/admin/MenuUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingClearServlet</display-name>
    <servlet-name>ShoppingClearServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.ShoppingClearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingClearServlet</servlet-name>
    <url-pattern>/qiantai/ShoppingClearServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOrderingServlet</display-name>
    <servlet-name>UserOrderingServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.UserOrderingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrderingServlet</servlet-name>
    <url-pattern>/qiantai/UserOrderingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersOrderSearchServlet</display-name>
    <servlet-name>UsersOrderSearchServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.UsersOrderSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersOrderSearchServlet</servlet-name>
    <url-pattern>/qiantai/UsersOrderSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderServlet</display-name>
    <servlet-name>AdminOrderServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.AdminOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderServlet</servlet-name>
    <url-pattern>/admin/AdminOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderUpdateServlet</display-name>
    <servlet-name>AdminOrderUpdateServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.AdminOrderUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderUpdateServlet</servlet-name>
    <url-pattern>/admin/AdminOrderUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderSearchServlet</display-name>
    <servlet-name>AdminOrderSearchServlet</servlet-name>
    <servlet-class>com.hpe.aposfc.servlet.AdminOrderSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderSearchServlet</servlet-name>
    <url-pattern>/admin/AdminOrderSearchServlet</url-pattern>
  </servlet-mapping>
</web-app>